


.single-about {
    float: left;
    padding: 40px 20px;
    width: 370px;
    margin-right: 30px;
    border: 1px solid #ddd;
    &:last-child {
        margin-right: 0;
      }
      h4 {
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
        margin: 5px 0;
      }
      p {
        margin: 30px 0;
        text-align: center;
        padding: 5px;
        text-transform: capitalize;
        font-size: 16px;
      }
  }
  

  

 