


.banner{
    h2 {
    font-size: 40px;
    color: wheat;
    font-weight: bold;
    text-transform: capitalize;
    }
    p {
        margin: 40px auto;
        width: 500px;
        color: wheat;
        text-transform: capitalize;
      }
      a{
          margin-right: 10px;
      }
      
  }
  