.blog{
   
    overflow: hidden;
    .single-blog {
        float: left;
        width: 370px;
        margin-right: 30px;
        background-color: #ddd;
        transition: .3s;
        overflow: hidden;
        &:hover{
            .img-blog{
                transform: scale(1.1);
            }
        }
        
        &:last-child {
            margin-right: 0;
        }
            .img-blog {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 250px;
                overflow: hidden;
                
               
              }
              .content-blog {
                padding: 20px 20px;
                h4 {
                    text-transform: capitalize;
                    font-size: 22px;
                  }
                  p {
                    margin: 20px 0;
                  }
              }
        }

}


   
  