
.creative{
   
    h2 {
        font-size: 40px;
        color: $white;
        font-weight: 700px;
        text-transform: capitalize;
        margin: 20px 0;
      }
      p {
        text-align: center;
       
        
        color: wheat;
        margin: 50px 70px;
      }
}

