



.logo {
    width: 400px;
    float: left;
    padding: 30px 0;
    h2 {
        color:$black;
        font-size: 25px;
        font-weight: bold;
       
      }
  }
.menu {
    width: 800px;
    float: right;
    padding: 30px 0;
    ul{
        text-align: right;
        li {
            text-align: right;
            display: inline-block;
            a {
                font-size: 20px;
                margin-right: 30px;
                transition: .3s;
                &:hover{
                    color: $primary_color;
                }
              }
          }
    }  
  }
  

  
