

.single-portfolio {
    float: left;
    width: 370px;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    &:last-child {
        margin-right: 0;
      }
      h4 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color:$primary_color;
        text-align: center;
        padding: 10px;
        color:$white;
        font-size: 22px;
      }

  }
  